<!DOCTYPE html>
<html>
<head>
  <title>Final</title>
  <%= favicon_link_tag 'http://www.leaside.co.uk/i/tweet.png',type: 'image/png'%>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body background="http://www.hdwallpapersllc.com/wp-content/uploads/2015/07/Brooklyn-Bridge-Wallpaper-night-lights-the-river-desktop1.jpg">

  <div class="container">
        <nav>
          <h3>Twitter</h3>
          <ul class="nav nav-justified">
            <% if session["user_id"].present? %>
            <li class="active"><a href="/">Home</a></li>
            <li><%= link_to "Account", user_path(session["user_id"]) %></li>
            <li><%= link_to "Messages", connections_path%></li>
            <li><%= link_to "Sign Out", logout_path %></li>
            <% else %>
            <li><%= link_to "Sign Up", '/signup' %></li>
            <li><%= link_to "Sign In", '/login' %></li>
            <% end %>
            <li><% if session["user_id"].present? %>
          <%= form_tag users_path, method:"get", class: "navbar-form" do %>
          <div class="input-group">
            <input type="text" placeholder="People" class="form-control" name="keyword">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button">Go!</button>
            </span>
          </div>
          <% end %>
          <% end %>
          </li>
          </ul>
        </nav>

  </div>

  <div class="container" style="padding-top:60px">
    <% if notice.present? %>
    <div class="alert alert-info" style="text-align: center; width: 70%; margin-left: 10%">
      <%= notice %>
    </div>
    <% end %>

    <%= yield %>

  </div>

</body>
</html>
